.admin-layout {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #F8FAFC;
  font-family: 'Inter', sans-serif;
}

.admin-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 280px;
  transition: margin-left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.admin-layout.sidebar-closed .admin-main {
  margin-left: 80px;
}

.admin-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
